.contact {
  color: white;
  background-color: $primary-color;
  h2 {
      color: white;
  }

 


  .contact-data {
      padding: 25px 0;
      margin-bottom: 30px;



      .contact-item {
          @include flexbox;
          align-items: center;
          text-transform: uppercase;
          justify-content: flex-start;

      }

      .img-holder {
          margin-right: 10px;
          text-align: center;

          img {
              width: 30px;
              
          }
      }

      a {
          color: white;
          text-decoration: none;

          &:hover {
              text-decoration: underline
          }
      }

  }

  @media all and (min-width: $medium) {
      .contact-item {
          justify-content: flex-start;
      }
  }

  .contact-form {
      padding: 25px;
      
  }
}

.section-header {
    text-align: center;
  }