.team {
    padding-bottom: 200px;



    .row {
        justify-content: center;
    }

    .infobox {

        margin: 0 10px;
    }
}

.blog {

    .row {
        justify-content: center;
    }
}